<html>

<head>
    <title>Novots</title>
</head>

<body>
    <div>
        <h1>
            <a href="/">Статьи</a>
        </h1>
    </div>

    <div>
        <p>published: 14.05.2019, 12:14</p>
        <h2>
            <a href="">Эмульгатор</a>
        </h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida
            at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
            sit amet risus.</p>
    </div>

    <div>
        <p>published: 14.05.2019, 12:14</p>
        <h2>
            <a href="">Адгезионная присадка</a>
        </h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida
            at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </div>
</body>

</html>